.container {
    display: grid;
    margin: 25px;
}

.buttons-container {
    width: 100%;
    display: flex;
}

.button {   
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}